body {
  background-color: blueviolet;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  height: 50px;
}

.board {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 48px;
  height: 48px;
  border: 1px solid black;
}