body {
  background-color: blueviolet;
}

h1 {
  text-align: center;
}

.score {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.player-ships {
  border: 2px solid black;
}

.pc-ships {
  border: 2px solid black;
}

.container {
  width: 100%;
  height: 50px;
}

.board {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 48px;
  height: 48px;
  border: 1px solid black;
}